{
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "es2017": true,
        "es2020": true
    },
    "globals": {
        "window": "readonly"
    },
    "extends": [
        "react-app",
        "react-app/jest",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/strict",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "prettier",
        "prettier/@typescript-eslint",
        "prettier/react"
    ],
    "rules": {
        "curly": 2,
        "react/prop-types": 0,
        "jsx-a11y/label-has-for": 0,
        "jsx-a11y/label-has-associated-control": 2,
        "prettier/prettier": 2
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "project": "./tsconfig.json",
        "tsconfigRootDir": "."
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "@typescript-eslint",
        "prettier"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "parser": "@typescript-eslint/parser"
}
