.list {
    padding: 0;
}
.item {
    display: flex;
    list-style: none;
    margin-bottom: 10px;

    span {
        padding: 0 10px;
    }

    button {
        cursor: pointer;
    }
}

.completed {
    text-decoration: line-through;
}
